<main>
    <div class="form">
        <div class="container">
            <div id="signup">
                <h1>INICIAR SESION</h1>
                <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="iniciarSesion(signupForm.value)">

                    <div class="field-wrap">
                        <label>Correo<span class="req">*</span></label>
                        <input value={{correo}} name="correo" id="email" type="email" required autocomplete="off" maxlength="100" readonly />
                    </div>

                    <div class="field-wrap">
                        <label>Contraseña<span class="req">*</span></label>
                        <input formControlName="password" type="password" required autocomplete="off" maxlength="60" />
                    </div>

                    <span class="response" *ngIf="response_condicion == true">{{ response_msg }}</span>

                    <div class="c-btn">
                        <button [disabled]="signupForm.invalid" class="button button-block" type="sumit">Inicia Sesión</button>
                    </div>

                    <div class="c-btn">
                        <button (click)="back()" class="btn-back">Regresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>