<main>
    <link rel="stylesheet" href="registro-usuario.component.css">

    <div class="form">

        <div class="container">
            <div id="signup">

                <h1>REGISTRO USUARIO</h1>

                <form>

                    <div class="field-wrap">
                        <label>Correo<span class="req">*</span></label>
                        <input [(ngModel)]="usuario.correo" name="correo" id="email" type="email" required autocomplete="off" value="andresk2108o@gmail.com" maxlength="100" />
                    </div>

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>Nombre<span class="req">*</span></label>
                            <input [(ngModel)]="usuario.nombre" name="nombre" type="text" required autocomplete="off" maxlength="20" />
                        </div>

                        <div class="field-wrap">
                            <label>Apellido<span class="req">*</span></label>
                            <input [(ngModel)]="usuario.apellido" name="apellido" type="text" required autocomplete="off" maxlength="20" pattern="[A-Z]" />
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>Contraseña<span class="req">*</span></label>
                        <input [(ngModel)]="usuario.password" name="password" type="password" required autocomplete="off" minlength="8" maxlength="30" />
                    </div>

                    <div class="field-wrap">
                        <label>Confirmar Contraseña<span class="req">*</span></label>
                        <input type="password" required autocomplete="off" />
                    </div>

                    <div class="c-btn">
                        <button type="submit" (click)="registrar()" class="button button-block">Registrarme</button>
                    </div>

                    <div class="c-btn">
                        <button (click)="back()" class="btn-back">Regresar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="registro-usuario.component.js"></script>
</main>
