<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

<nav>
    <div class="header"></div>

    <div class="nav-center">

        <!-- nav header -->
        <div class="nav-header">
            <img src="assets/img/logo-ista-black.png" class="logo" alt="logo" />
            <button class="nav-toggle"><i class="fas fa-bars"></i></button>
        </div>

        <!-- links -->
        <ul class="links">

            <!-- Menu Usuario -->
            <li *ngIf="type_user_logged_in == u">
                <a (click)="goNuevoCaso_U()">Nuevo Caso</a>
            </li>

            <li *ngIf="type_user_logged_in == u ">
                <a (click)="goMisCasos_U()">Mis Casos</a>
            </li>

            <!-- Menú Administrador -->

            <li *ngIf="type_user_logged_in == a">
                <a (click)="goCasosAbietos_A()">Casos Abiertos</a>
            </li>

            <li *ngIf="type_user_logged_in == a">
                <a (click)="goMisCasos_A()">Mis Casos</a>
            </li>

            <!-- Menú Super Administrador -->
            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goCasos_SA()">Casos</a>
            </li>

            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goAdministradores_SA()">Administradores</a>
            </li>

            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goUsuarios_SA()">Usuarios</a>
            </li>

            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goCatalogos_SA()">Catalogos</a>
            </li>

            <!-- Menú todos -->
            <li>
                <a (click)="goNosotros()">Nosotros</a>
            </li>

            <li>
                <a (click)="goContactos()">Contactos</a>
            </li>
        </ul>

        <!-- social media -->
        <ul class="social-icons">
            <li>
                <a target="_new" class="facebook" href="https://www.facebook.com/TecAzuay">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a target="_new" class="twitter" href="https://twitter.com/tecazuay?lang=es">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a target="_new" class="instagram" href="https://www.instagram.com/tecdelazuay/?hl=es-la">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a target="_new" class="linkedin" href="">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a target="_new" class="youtube" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>