<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />


<nav>
    <div class="header"></div>

    <div class="nav-center">

        <!-- nav header -->
        <div class="nav-header">
            <img src="https://i.postimg.cc/76jNr6VY/1982637.jpg" class="logo" alt="logo" />
            <button class="nav-toggle"><i class="fas fa-bars"></i></button>
        </div>

        <!-- links -->
        <ul class="links">

            <!-- Menu Usuario -->
            <li *ngIf="type_user_logged_in == u">
                <a (click)="goNuevoCaso_U()">Nuevo Caso</a>
            </li>

            <li *ngIf="type_user_logged_in == u ">
                <a (click)="goMisCasos_U()">Mis Casos</a>
            </li>

            <!-- Menú Administrador -->
            <li *ngIf="type_user_logged_in == a">
                <a (click)="goMisCasos_A()">Mis Casos</a>
            </li>

            <!-- Menú Super Administrador -->
            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goCasos_SA()">Casos</a>
            </li>

            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goAdministradores_SA()">Administradores</a>
            </li>

            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goUsuarios_SA()">Usuarios</a>
            </li>

            <li *ngIf="type_user_logged_in == sa">
                <a (click)="goCatalogos_SA()">Catalogos</a>
            </li>

            <!-- Menú todos -->
            <li>
                <a (click)="goNosotros()">Nosotros</a>
            </li>

            <li>
                <a (click)="goContactos()">Contactos</a>
            </li>
        </ul>

        <!-- social media -->
        <ul class="social-icons">
            <li>
                <a href="https://www.twitter.com">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com">
                    <i class="fab fa-behance"></i>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com">
                    <i class="fab fa-sketch"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>