*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    margin: auto;
}

label {
    transform: translateY(6px);
    left: 13px;
    color: black;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.emi {
    transform: translateY(6px);
    left: 13px;
    color: black;
    font-weight: bold;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 20px;
}

main {
    margin: auto;
}

p {
    margin: 5px;
    font-weight: bold;
    color: aquamarine;
    font-size: 20px;
    padding: 0px 16px;
}

.mens {
    margin-top: 10px;
    color: black;
    font-size: 16px;
}

span {
    color: gray;
    padding: 0px 16px;
    font-size: 18px;
}

.evimg {
    width: 50%;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
}

img {
    width: 30%;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 0px 16px;
}

.chat {
    background: rgba(19, 35, 47, 0.9);
    width: 600px;
    height: fit-content;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 100px;
    margin-top: 50px;
    float: right;
    align-items: center;
    padding: 25px;
}

.detalle {
    background: rgba(19, 35, 47, 0.9);
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
    float: left;
    padding: 25px;
}

.message {
    width: 550px;
    max-height: 600px;
    height: fit-content;
    padding: 5px;
    overflow: auto;
}

table tbody tr:nth-child(odd) {
    background: azure;
}

table tbody tr:nth-child(even) {
    background: cornsilk;
    text-align: right;
}

input {
    height: 60px;
    width: 400px;
    font-size: 15px;
}

.c-btn {
    margin: auto;
    text-align: center;
    display: inline-block;
}

.button {
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #18755d;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button-block {
    display: block;
}

.addfile {
    text-align: center;
    align-content: center;
}

h2 {
    text-align: center;
    color: #ffffff;
    padding: 5px;
}

.c-evidencias {
    text-align: center;
    align-items: center;
}

.file-img {
    color: #ffffff;
}

.url-img {
    height: 35px;
    background: rgba(19, 35, 47, 0.5);
    color: #ffffff;
    border: 1px solid #ffffff;
    margin: 16px;
}

.c-center {
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

textarea {
    max-width: 75%;
    max-height: 80px;
    min-width: 75%;
    min-height: 80px;
    width: 75%;
    height: 80px;
    font-size: 18px;
}

.c-msg {
    display: flex;
    align-items: center;
    margin-top: 16px;
}