<main>
    <div class="form">
        <div class="container">
      
            <div class="detalle">
                <h1>DETALLE CASO</h1>
                <span class="response" *ngIf="response_condicion == false">{{response_msg}}</span>
                <tr *ngFor="let datos of ticket">
                    <p>Ticket Id: <span>{{ datos.ticket_id }}</span></p>
                    <br/>
                    <p>Asunto: <span>{{ datos.asunto }}</span></p>
                    <br/>
                    <p>Caso: <span>{{ datos.tipo_caso }}</span></p>
                    <br/>
                    <p>Creador: <span>{{ datos.usuario_email }}</span></p>
                    <br/>
                    <p>Responsable: <span>{{ datos.responsable }}</span></p>
                    <br/>
                    <p>Fecha: <span>{{ datos.fecha }}</span></p>
                    <br/>
                    <p>Estado: <span>{{ datos.estado }}</span></p>
                    <br/>
                    <p>Evidencia: </p>
                    <br/>
                    <div *ngFor="let item of datos.imagenes">
                        <img class="evimg" src= {{item}}>
                    </div>
                </tr>
            </div>
 
            <div class="chat">
                <h1>MENSAJES DEL CASO</h1>
                <span class="response" *ngIf="response_condicion == false">{{response_msg}}</span>
                <table>
                    <tbody>
                        <div class ="message">
                            <tr *ngFor="let d of mensajes">
                                <td>
                                    <label class="emi">{{d.emisor}}</label>
                                    <p class="mens">{{d.mensaje}}</p> 
                                    <div *ngIf= "d.imagen != null"><img src= {{d.imagen}}></div>
                                </td> 
                            </tr>           
                        </div>
                    </tbody>
                </table>
                <br/>
                
                <label for="Elija la imagen de evidencia"></label>
                <div class="container2" style="text-align: center;">
                    <form>
                        <input type="file" (change)="onChange($event)" #photoInput/>
                        <br>
                        <img [src]="photoSelected || '../../../assets/img/sinFoto.jpg'" (click)="photoInput.click()" />
                    </form>
                    <button (click)="onClickSubir($event)">Cargar Imagen</button>
                    <div *ngIf="showImagen" style="text-align: center;">
                        <h5>Imagen cargada..</h5>
                    </div>
                     <div class="progress form-group" *ngIf="subiendo">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) +'%'" aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="imagen">URL IMAGEN</label>
                    <input id="imagen" name="imagen" value="{{urlImagen}}">
                </div>

                <input  class="mmss" type="text" [(ngModel)]="mensaje.mensaje" required autocomplete="off"/>
                <div class ="c-btn">
                    <button id ="btn2" class ="button button-block" (click)="guardar()" type="submit">
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
