<main>
    <div class="form">
        <div class="container">

            <div class="detalle">
                <h2>DETALLE CASO</h2>
                <span class="response" *ngIf="response_condicion == false">{{response_msg}}</span>
                <tr *ngFor="let datos of ticket">
                    <p>Ticket Id: <span>{{ datos.ticket_id }}</span></p>
                    <br/>
                    <p>Asunto: <span>{{ datos.asunto }}</span></p>
                    <br/>
                    <p>Caso: <span>{{ datos.tipo_caso }}</span></p>
                    <br/>
                    <p>Creador: <span>{{ datos.usuario_email }}</span></p>
                    <br/>
                    <p>Responsable: <span>{{ datos.responsable }}</span></p>
                    <br/>
                    <p>Fecha: <span>{{ datos.fecha }}</span></p>
                    <br/>
                    <p>Estado: <span>{{ datos.estado }}</span></p>
                    <br/>
                    <p>Evidencias: </p>
                    <br/>
                    <div class="c-evidencias" *ngFor="let item of datos.imagenes">
                        <img *ngIf="item != null" class="evimg" src={{item}} alt="_blank">
                    </div>
                </tr>
            </div>

            <div class="chat">

                <h2>MENSAJES DEL CASO</h2>

                <span class="response" *ngIf="response_condicion == false">{{response_msg}}</span>

                <table class="table-msg">
                    <tbody>
                        <div class="message">
                            <tr *ngFor="let d of mensajes">
                                <td>
                                    <p class="emi">{{d.emisor}}</p>
                                    <p class="mens">{{d.mensaje}}</p>
                                    <div *ngIf="d.imagen != null">
                                        <img src={{d.imagen}} alt="_blank">
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <br/>

                <label for="Elija la imagen de evidencia"></label>

                <div class="container2 c-center" style="text-align: center;">

                    <form>
                        <input class="file-img" type="file" (change)="onChange($event)" #photoInput/>
                        <img [src]="photoSelected || '../../../assets/img/sinFoto.jpeg'" (click)="photoInput.click()" alt="_blank" />
                    </form>

                    <button (click)="onClickSubir($event)">Cargar Imagen</button>

                    <div *ngIf="showImagen" style="text-align: center;">
                        <h5 style="text-align: center; color: aliceblue;">Imagen cargada..</h5>
                    </div>

                    <div class="progress form-group" *ngIf="subiendo">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) +'%'" aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div style="display: flex; align-items: center;">
                    <label style="color: aquamarine;" for="imagen">URL Imagen</label>
                    <input class="url-img" id="imagen" name="imagen" value="{{urlImagen}}">
                </div>

                <div class="c-msg">
                    <textarea class="mensaje-txta" name="mensaje" placeholder="Escribe un mensaje ..." [(ngModel)]="mensaje.mensaje" required autocomplete="off"></textarea>

                    <button class="button button-block" (click)="guardar()" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</main>