<div>
    <h2 class="title">Nuevo Administrador</h2>
    <div>
        <app-registro-admin></app-registro-admin>
    </div>
</div>

<div class="limiter">

    <h2 class="title">Lista Administradores</h2>

    <div class="container-table100">

        <div class="wrap-table100">

            <div class="table">

                <div class="row header">
                    <div class="cell">
                        Nombres
                    </div>
                    <div class="cell">
                        Correo
                    </div>
                    <div class="cell">
                        Rol
                    </div>
                    <div class="cell">
                        Estado
                    </div>
                    <div class="cell">
                        Acciones
                    </div>
                </div>

                <div *ngFor="let a of list_administradores" class="row">
                    <div class="cell" data-title="Nombres">
                        {{ a.nombre }} {{ a.apellido }}
                    </div>
                    <div class="cell" data-title="Correo">
                        {{ a.correo }}
                    </div>
                    <div class="cell" data-title="Rol">
                        {{ a.rol }}
                    </div>
                    <div class="cell" data-title="Estado">
                        {{ a.estado }}
                    </div>
                    <div class="cell" data-title="Acciones">
                        <input class="btn-update" (click)="update_admin(a)" type="image" src="../../../assets/img/pencil.svg" alt="Delete">
                        <input class="btn-delete" (click)="delete_admin(a)" type="image" src="../../../assets/img/delete.svg" alt="Delete">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>