<div class="limiter">

    <h2 class="title">Lista Administradores</h2>

    <div class="container-table100">


        <div class="wrap-table100">

            <div class="table">

                <div class="row header">
                    <div class="cell">
                        Nombres
                    </div>
                    <div class="cell">
                        Correo
                    </div>
                    <div class="cell">
                        Rol
                    </div>
                    <div class="cell">
                        Estado
                    </div>
                </div>

                <div class="row">
                    <div class="cell" data-title="Nombres">
                        Vincent Williamson
                    </div>
                    <div class="cell" data-title="Age">
                        31
                    </div>
                    <div class="cell" data-title="Job Title">
                        iOS Developer
                    </div>
                    <div class="cell" data-title="Location">
                        Washington
                    </div>
                </div>

                <div *ngFor="let a of list_administradores" class="row">
                    <div class="cell" data-title="Nombres">
                        {{ a.nombre }} {{ a.apellido }}
                    </div>
                    <div class="cell" data-title="Age">
                        {{ a.correo }}
                    </div>
                    <div class="cell" data-title="Job Title">
                        {{ a.rol }}
                    </div>
                    <div class="cell" data-title="Location">
                        {{ a.estado }}
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div>
    <h2 class="title">Nuevo Administrador</h2>
    <div>
        <app-registro-admin></app-registro-admin>
    </div>
</div>